.inline {
  display:inline-block;
  margin-right:10px;
}
.inline Button {
  text-decoration: none;
  background:none;
  border:none;
  font-weight: bold;
  color:white;
}
.menu-open {
  position:absolute;
  background-color: #c76464;
  border: solid 2px black;
  width:200px;
}

.test-style{
  position:relative;
}
