.webHeader {
  padding: 2px;
  text-align: center;
  background-color: #290025;
}
.mainLogo {
  padding: 5px;
  width: 150px;
  border-radius: 4px;
  display: inline-block;
}

#brandName {
  text-decoration: overline underline;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  display: inline-block
}
.footer {
  padding: 20px;
  text-align: center;
  background: #290025;
  color: aliceblue;
}

.navbar {
  overflow: hidden;
  background-color: #c76464;
  font-weight: bold;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/*
Thinking of having a colour palette like this
3A015C - Russion Violet
4F0147 - Palatinate
35012C - Dark Purple
290025 - Even Darker Purple
11001C - Darkest Purple

<a href="https://www.flaticon.com/free-icons/cinema" title="cinema icons">Cinema icons created by IYAHICON - Flaticon</a>
*/
